<div class="headLogo">
    <a href="/#home"><b>MY</b> SCHEDULER</a>
</div>
<div class="signinMain">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="signinText">Sign into your account</div>
            <div class="form" align="center">
                <form ng-submit="login()">
                    <label>Username</label>
                    <input type="text" ng-model="user.username" placeholder="username" required>
                    <label>Password</label>
                    <input type="password" ng-model="user.password" placeholder="password" required>
                    <button type="submit" value="#/login" class="signinButton">Sign in</button>
                </form>
                <a href="/#forgot">
                    <div class="forgotPassword">Forgot password</div>
                </a>
                <div class="signupText">New here? <a href="/#signup"><span class="createAcct">Create an account</span></a></div>
                <div class="warning text-warning" style="width:100%">{{error_message}} <img src="../images/cross.png"></div>

            </div>
        </div>
    </div>

</div>