<div class="main">
    <div class="header">
        <div class="logo">
            <b>MY</b> SCHEDULER
        </div>
        <div class="listToggle">
            <img src="../images/menu.png">
        </div>
        <div class="menu">
            <ul>
                <li ng-hide="authenticated">
                    <a href="/#login"><button id="signin">Login</button></a>
                </li>
                <li class="menuItem" ng-show="authenticated">
                    <a style="cursor:pointer" class="dropdownMain">{{ current_user_name }}<img src="images/downArrow.png" width="20px"></a>
                    <ul class="dropdown">
                        <li><a href="/#profile" style="cursor:pointer">My profile</a></li>
                        <li><a ng-click="signout()" style="cursor:pointer">Signout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="mainSectionText">
        <div class="mainText">
            Manage and keep track of your schedule like never before
        </div>
        <a href="/#signup" ng-hide="authenticated">
            <div class="signUpNow">
                Sign up now
            </div>
        </a>
        <a href="/#profile" ng-show="authenticated">
            <div class="signUpNow">
                Manage Schedule
            </div>
        </a>
    </div>
    <div class="slider">
        <div class="sliderItem1">
            <img src="images/2.jpg">
        </div>
        <div class="sliderItem2">
            <img src="images/1.jpg">
        </div>
        <div class="sliderItem3">
            <img src="images/3.jpg">
        </div>
    </div>
</div>