<div class="headLogo">
    <a href="/#home"><b>MY</b> SCHEDULER</a>
</div>

<div class="signupMain">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="signupText1">Sign up your account</div>
            <div class="form" align="center">
                <form ng-submit="register()">
                    <label>Full Name</label>
                    <input type="text" ng-model="user.fullName" placeholder="enter your full name" required>
                    <label>Username</label>
                    <input type="text" ng-model="user.username" placeholder="select a username" required>
                    <label>Email Adress</label>
                    <input type="email" ng-model="user.email" placeholder="email" required>
                    <label>ManagerId</label>
                    <input type="text" ng-model="user.managerId" placeholder="manager ID" required>
                    <label>Password</label>
                    <input type="password" ng-model="user.password" placeholder="password" pattern=".{6,}" required>
                    <button type="submit" value="signup" class="signinButton">Sign up</button>
                </form>
                <div class="signupText">Already a member? <a href="/#login"><span class="createAcct">Sign in</span></a></div>
                <p class="text-warning">{{ error_message }} <img src="../images/cross.png"></p>
            </div>
        </div>
    </div>
</div>